.movie-card-container {
  display: flex;
  justify-content: center;
}

.movie-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 500px;
  margin-top: 40px;
  display: flex;

  &:hover {
    cursor: pointer;
  }

  &-image {
    width: 150px;
    height: auto;
    display: block;
    margin: 15px;
    border-radius: 10px;
  }

  &-title {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    margin-bottom: 8px;
  }

  &-description {
    font-size: 1rem; /* 16px */
    margin-bottom: 8px;
  }

  &-rating {
    font-size: 0.875rem; /* 14px */
    color: #888;

    &-star {
      width: 13px;
      height: 13px;
    }
  }

  &-body {
    padding: 16px;
  }
}

.looking-card {
  overflow: hidden;
  margin: 30px;
  display: flex;
  justify-content: center;

  &-image {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px;
    opacity: 0.7;
  }
}


.error-card{
  overflow: hidden;
  width:auto;
  display: flex;
justify-content: center;

  &-info{
    font-size: 1.25rem; 
    font-weight: bold;
    margin-bottom: 8px;
    font-family:Arial, Helvetica, sans-serif;
    color: lightpink;
    margin:50px;
    margin-top: 70px;
  }

}