
<div class="movie-card-container">
  <div class="movie-card" *ngIf="hasResponse" (click)="redirectToAnotherPage()">
    <img [src]="posterImage" alt="movie image" class="card-image">
    <div class="card-body">
      <h2 class="card-title" (click)="redirectToAnotherPage()">{{title}}</h2>
      <p class="card-description">{{actors}}</p>
      <span class="card-rating">{{imdb}} &nbsp;<img src="../../../assets/star.png" class="star"/></span>
    </div>
  </div>
</div>

  <div class="looking-card" *ngIf="!hasResponse">
    <img src="../../../assets/looking.jpg" alt="looking image" class="looking-image">
  </div>

  <!-- <div class="card-title" *ngIf="hasNoMovies">No movies found</div> -->

  