
<div class="movie-card-container" >
  <div class="movie-card" *ngIf="hasResponse" (click)="redirectToAnotherPage()">
    <img [src]="posterImage" alt="movie image" class="movie-card-image">
    <div class="movie-card-body">
      <h2 class="movie-card-title" (click)="redirectToAnotherPage()">{{title}}</h2>
      <p class="movie-card-description">{{actors}}</p>
      <span class="movie-card-rating">{{imdb}} &nbsp;<img src="../../../assets/star.png" class="movie-card-rating-star"/></span>
    </div>
  </div>
</div>

  <div class="looking-card" *ngIf="!hasResponse && !data">
    <img src="../../../assets/looking.jpg" alt="looking image" class="looking-card-image">
  </div>

 <div class="error-card" *ngIf="!hasResponse && data.Response=='False'">
  <div class="error-card-info">No movies found</div>
</div>

  