/* search-input.component.css */
.movie-search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .custom-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 15px;
    font-weight: 100;
  }
  
  .search-icon {
    width: 20px;
    height: auto;
    padding: 0 10px;
    cursor: pointer;
  }
  